.flexboxgrid_container-fluid_2lUES,
.flexboxgrid_container_R2zU9 {
  margin-right: auto;
  margin-left: auto;
}

.flexboxgrid_container-fluid_2lUES {
  padding-right: 2rem;
  padding-left: 2rem;
}

.flexboxgrid_row_1y_mg {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.flexboxgrid_row_1y_mg.flexboxgrid_reverse_1X682 {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flexboxgrid_col_3RqPP.flexboxgrid_reverse_1X682 {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flexboxgrid_col-xs_1ROHR,
.flexboxgrid_col-xs-1_VtNIK,
.flexboxgrid_col-xs-2_36nDa,
.flexboxgrid_col-xs-3_2f2Ql,
.flexboxgrid_col-xs-4_TxBJg,
.flexboxgrid_col-xs-5_1HkK5,
.flexboxgrid_col-xs-6_1DhV6,
.flexboxgrid_col-xs-7_3o2m-,
.flexboxgrid_col-xs-8_3ARGc,
.flexboxgrid_col-xs-9_15qfl,
.flexboxgrid_col-xs-10_2AWNv,
.flexboxgrid_col-xs-11_3H-6F,
.flexboxgrid_col-xs-12_phbtE,
.flexboxgrid_col-xs-offset-0_10C7E,
.flexboxgrid_col-xs-offset-1_12o_R,
.flexboxgrid_col-xs-offset-2_2Hh-B,
.flexboxgrid_col-xs-offset-3_8NCys,
.flexboxgrid_col-xs-offset-4_dA0P1,
.flexboxgrid_col-xs-offset-5_2MbdF,
.flexboxgrid_col-xs-offset-6_3N3bt,
.flexboxgrid_col-xs-offset-7_1yQDG,
.flexboxgrid_col-xs-offset-8_2aEcW,
.flexboxgrid_col-xs-offset-9_2haBv,
.flexboxgrid_col-xs-offset-10_1QsVg,
.flexboxgrid_col-xs-offset-11_29xQn,
.flexboxgrid_col-xs-offset-12_1XWFb {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.flexboxgrid_col-xs_1ROHR {
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0;
          flex-basis: 0;
  max-width: 100%;
}

.flexboxgrid_col-xs-1_VtNIK {
  -ms-flex-preferred-size: 8.33333333%;
  -webkit-flex-basis: 8.33333333%;
          flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.flexboxgrid_col-xs-2_36nDa {
  -ms-flex-preferred-size: 16.66666667%;
  -webkit-flex-basis: 16.66666667%;
          flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.flexboxgrid_col-xs-3_2f2Ql {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
          flex-basis: 25%;
  max-width: 25%;
}

.flexboxgrid_col-xs-4_TxBJg {
  -ms-flex-preferred-size: 33.33333333%;
  -webkit-flex-basis: 33.33333333%;
          flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.flexboxgrid_col-xs-5_1HkK5 {
  -ms-flex-preferred-size: 41.66666667%;
  -webkit-flex-basis: 41.66666667%;
          flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.flexboxgrid_col-xs-6_1DhV6 {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
          flex-basis: 50%;
  max-width: 50%;
}

.flexboxgrid_col-xs-7_3o2m- {
  -ms-flex-preferred-size: 58.33333333%;
  -webkit-flex-basis: 58.33333333%;
          flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.flexboxgrid_col-xs-8_3ARGc {
  -ms-flex-preferred-size: 66.66666667%;
  -webkit-flex-basis: 66.66666667%;
          flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.flexboxgrid_col-xs-9_15qfl {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
          flex-basis: 75%;
  max-width: 75%;
}

.flexboxgrid_col-xs-10_2AWNv {
  -ms-flex-preferred-size: 83.33333333%;
  -webkit-flex-basis: 83.33333333%;
          flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.flexboxgrid_col-xs-11_3H-6F {
  -ms-flex-preferred-size: 91.66666667%;
  -webkit-flex-basis: 91.66666667%;
          flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.flexboxgrid_col-xs-12_phbtE {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
          flex-basis: 100%;
  max-width: 100%;
}

.flexboxgrid_col-xs-offset-0_10C7E {
  margin-left: 0;
}

.flexboxgrid_col-xs-offset-1_12o_R {
  margin-left: 8.33333333%;
}

.flexboxgrid_col-xs-offset-2_2Hh-B {
  margin-left: 16.66666667%;
}

.flexboxgrid_col-xs-offset-3_8NCys {
  margin-left: 25%;
}

.flexboxgrid_col-xs-offset-4_dA0P1 {
  margin-left: 33.33333333%;
}

.flexboxgrid_col-xs-offset-5_2MbdF {
  margin-left: 41.66666667%;
}

.flexboxgrid_col-xs-offset-6_3N3bt {
  margin-left: 50%;
}

.flexboxgrid_col-xs-offset-7_1yQDG {
  margin-left: 58.33333333%;
}

.flexboxgrid_col-xs-offset-8_2aEcW {
  margin-left: 66.66666667%;
}

.flexboxgrid_col-xs-offset-9_2haBv {
  margin-left: 75%;
}

.flexboxgrid_col-xs-offset-10_1QsVg {
  margin-left: 83.33333333%;
}

.flexboxgrid_col-xs-offset-11_29xQn {
  margin-left: 91.66666667%;
}

.flexboxgrid_start-xs_h8qdA {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  text-align: start;
}

.flexboxgrid_center-xs_1JWon {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  text-align: center;
}

.flexboxgrid_end-xs_33Mku {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  text-align: end;
}

.flexboxgrid_top-xs_UhA-V {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.flexboxgrid_middle-xs_1h5t3 {
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.flexboxgrid_bottom-xs_2tRUa {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
          align-items: flex-end;
}

.flexboxgrid_around-xs_1okkK {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
          justify-content: space-around;
}

.flexboxgrid_between-xs_WFP84 {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.flexboxgrid_first-xs_XoosK {
  -ms-flex-order: -1;
  -webkit-order: -1;
          order: -1;
}

.flexboxgrid_last-xs_HnlRw {
  -ms-flex-order: 1;
  -webkit-order: 1;
          order: 1;
}

@media only screen and (min-width: 48em) {
  .flexboxgrid_container_R2zU9 {
    width: 49rem;
  }

  .flexboxgrid_col-sm_3tZ-z,
  .flexboxgrid_col-sm-1_2Gca6,
  .flexboxgrid_col-sm-2_YETza,
  .flexboxgrid_col-sm-3_2irZQ,
  .flexboxgrid_col-sm-4_3kj7S,
  .flexboxgrid_col-sm-5_gAxuQ,
  .flexboxgrid_col-sm-6_vUdKH,
  .flexboxgrid_col-sm-7_22IcQ,
  .flexboxgrid_col-sm-8_2_YhB,
  .flexboxgrid_col-sm-9_2ubpx,
  .flexboxgrid_col-sm-10_262G9,
  .flexboxgrid_col-sm-11_39s7J,
  .flexboxgrid_col-sm-12_1e5Uk,
  .flexboxgrid_col-sm-offset-0_llQ6-,
  .flexboxgrid_col-sm-offset-1_1PFWu,
  .flexboxgrid_col-sm-offset-2_1DgbO,
  .flexboxgrid_col-sm-offset-3_3W5Iv,
  .flexboxgrid_col-sm-offset-4_3YToG,
  .flexboxgrid_col-sm-offset-5_609Vo,
  .flexboxgrid_col-sm-offset-6_TCeVQ,
  .flexboxgrid_col-sm-offset-7_csvBu,
  .flexboxgrid_col-sm-offset-8_11PYH,
  .flexboxgrid_col-sm-offset-9_24Evy,
  .flexboxgrid_col-sm-offset-10_1-lcE,
  .flexboxgrid_col-sm-offset-11_2ynFq,
  .flexboxgrid_col-sm-offset-12_3MBMi {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .flexboxgrid_col-sm_3tZ-z {
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    max-width: 100%;
  }

  .flexboxgrid_col-sm-1_2Gca6 {
    -ms-flex-preferred-size: 8.33333333%;
    -webkit-flex-basis: 8.33333333%;
            flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .flexboxgrid_col-sm-2_YETza {
    -ms-flex-preferred-size: 16.66666667%;
    -webkit-flex-basis: 16.66666667%;
            flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .flexboxgrid_col-sm-3_2irZQ {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }

  .flexboxgrid_col-sm-4_3kj7S {
    -ms-flex-preferred-size: 33.33333333%;
    -webkit-flex-basis: 33.33333333%;
            flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .flexboxgrid_col-sm-5_gAxuQ {
    -ms-flex-preferred-size: 41.66666667%;
    -webkit-flex-basis: 41.66666667%;
            flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .flexboxgrid_col-sm-6_vUdKH {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }

  .flexboxgrid_col-sm-7_22IcQ {
    -ms-flex-preferred-size: 58.33333333%;
    -webkit-flex-basis: 58.33333333%;
            flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .flexboxgrid_col-sm-8_2_YhB {
    -ms-flex-preferred-size: 66.66666667%;
    -webkit-flex-basis: 66.66666667%;
            flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .flexboxgrid_col-sm-9_2ubpx {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }

  .flexboxgrid_col-sm-10_262G9 {
    -ms-flex-preferred-size: 83.33333333%;
    -webkit-flex-basis: 83.33333333%;
            flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .flexboxgrid_col-sm-11_39s7J {
    -ms-flex-preferred-size: 91.66666667%;
    -webkit-flex-basis: 91.66666667%;
            flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .flexboxgrid_col-sm-12_1e5Uk {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }

  .flexboxgrid_col-sm-offset-0_llQ6- {
    margin-left: 0;
  }

  .flexboxgrid_col-sm-offset-1_1PFWu {
    margin-left: 8.33333333%;
  }

  .flexboxgrid_col-sm-offset-2_1DgbO {
    margin-left: 16.66666667%;
  }

  .flexboxgrid_col-sm-offset-3_3W5Iv {
    margin-left: 25%;
  }

  .flexboxgrid_col-sm-offset-4_3YToG {
    margin-left: 33.33333333%;
  }

  .flexboxgrid_col-sm-offset-5_609Vo {
    margin-left: 41.66666667%;
  }

  .flexboxgrid_col-sm-offset-6_TCeVQ {
    margin-left: 50%;
  }

  .flexboxgrid_col-sm-offset-7_csvBu {
    margin-left: 58.33333333%;
  }

  .flexboxgrid_col-sm-offset-8_11PYH {
    margin-left: 66.66666667%;
  }

  .flexboxgrid_col-sm-offset-9_24Evy {
    margin-left: 75%;
  }

  .flexboxgrid_col-sm-offset-10_1-lcE {
    margin-left: 83.33333333%;
  }

  .flexboxgrid_col-sm-offset-11_2ynFq {
    margin-left: 91.66666667%;
  }

  .flexboxgrid_start-sm_3Dilu {
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    text-align: start;
  }

  .flexboxgrid_center-sm_39HWq {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    text-align: center;
  }

  .flexboxgrid_end-sm_3B07f {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    text-align: end;
  }

  .flexboxgrid_top-sm_1begS {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
  }

  .flexboxgrid_middle-sm_Oh4K7 {
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
  }

  .flexboxgrid_bottom-sm_1jPnc {
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
            align-items: flex-end;
  }

  .flexboxgrid_around-sm_3ffbb {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
            justify-content: space-around;
  }

  .flexboxgrid_between-sm_1Rcaf {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }

  .flexboxgrid_first-sm_2Gzhb {
    -ms-flex-order: -1;
    -webkit-order: -1;
            order: -1;
  }

  .flexboxgrid_last-sm_1pF8w {
    -ms-flex-order: 1;
    -webkit-order: 1;
            order: 1;
  }
}

@media only screen and (min-width: 64em) {
  .flexboxgrid_container_R2zU9 {
    width: 65rem;
  }

  .flexboxgrid_col-md_2lbzm,
  .flexboxgrid_col-md-1_1Lapj,
  .flexboxgrid_col-md-2_1c_4t,
  .flexboxgrid_col-md-3_3ANRS,
  .flexboxgrid_col-md-4_a_FyK,
  .flexboxgrid_col-md-5_YXlMq,
  .flexboxgrid_col-md-6_5OSyJ,
  .flexboxgrid_col-md-7_1Zp-r,
  .flexboxgrid_col-md-8_3979J,
  .flexboxgrid_col-md-9_2fXuC,
  .flexboxgrid_col-md-10_2Jbee,
  .flexboxgrid_col-md-11_3drbK,
  .flexboxgrid_col-md-12_zR2lK,
  .flexboxgrid_col-md-offset-0_2O3vR,
  .flexboxgrid_col-md-offset-1_2XNCz,
  .flexboxgrid_col-md-offset-2_2t-NV,
  .flexboxgrid_col-md-offset-3_1zlTP,
  .flexboxgrid_col-md-offset-4_3aHxz,
  .flexboxgrid_col-md-offset-5_3S2Gw,
  .flexboxgrid_col-md-offset-6_3KV0V,
  .flexboxgrid_col-md-offset-7_1OdCD,
  .flexboxgrid_col-md-offset-8_2vFbQ,
  .flexboxgrid_col-md-offset-9_1q95x,
  .flexboxgrid_col-md-offset-10_2CeMK,
  .flexboxgrid_col-md-offset-11_3u6XW,
  .flexboxgrid_col-md-offset-12_eKUlL {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .flexboxgrid_col-md_2lbzm {
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    max-width: 100%;
  }

  .flexboxgrid_col-md-1_1Lapj {
    -ms-flex-preferred-size: 8.33333333%;
    -webkit-flex-basis: 8.33333333%;
            flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .flexboxgrid_col-md-2_1c_4t {
    -ms-flex-preferred-size: 16.66666667%;
    -webkit-flex-basis: 16.66666667%;
            flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .flexboxgrid_col-md-3_3ANRS {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }

  .flexboxgrid_col-md-4_a_FyK {
    -ms-flex-preferred-size: 33.33333333%;
    -webkit-flex-basis: 33.33333333%;
            flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .flexboxgrid_col-md-5_YXlMq {
    -ms-flex-preferred-size: 41.66666667%;
    -webkit-flex-basis: 41.66666667%;
            flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .flexboxgrid_col-md-6_5OSyJ {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }

  .flexboxgrid_col-md-7_1Zp-r {
    -ms-flex-preferred-size: 58.33333333%;
    -webkit-flex-basis: 58.33333333%;
            flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .flexboxgrid_col-md-8_3979J {
    -ms-flex-preferred-size: 66.66666667%;
    -webkit-flex-basis: 66.66666667%;
            flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .flexboxgrid_col-md-9_2fXuC {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }

  .flexboxgrid_col-md-10_2Jbee {
    -ms-flex-preferred-size: 83.33333333%;
    -webkit-flex-basis: 83.33333333%;
            flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .flexboxgrid_col-md-11_3drbK {
    -ms-flex-preferred-size: 91.66666667%;
    -webkit-flex-basis: 91.66666667%;
            flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .flexboxgrid_col-md-12_zR2lK {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }

  .flexboxgrid_col-md-offset-0_2O3vR {
    margin-left: 0;
  }

  .flexboxgrid_col-md-offset-1_2XNCz {
    margin-left: 8.33333333%;
  }

  .flexboxgrid_col-md-offset-2_2t-NV {
    margin-left: 16.66666667%;
  }

  .flexboxgrid_col-md-offset-3_1zlTP {
    margin-left: 25%;
  }

  .flexboxgrid_col-md-offset-4_3aHxz {
    margin-left: 33.33333333%;
  }

  .flexboxgrid_col-md-offset-5_3S2Gw {
    margin-left: 41.66666667%;
  }

  .flexboxgrid_col-md-offset-6_3KV0V {
    margin-left: 50%;
  }

  .flexboxgrid_col-md-offset-7_1OdCD {
    margin-left: 58.33333333%;
  }

  .flexboxgrid_col-md-offset-8_2vFbQ {
    margin-left: 66.66666667%;
  }

  .flexboxgrid_col-md-offset-9_1q95x {
    margin-left: 75%;
  }

  .flexboxgrid_col-md-offset-10_2CeMK {
    margin-left: 83.33333333%;
  }

  .flexboxgrid_col-md-offset-11_3u6XW {
    margin-left: 91.66666667%;
  }

  .flexboxgrid_start-md_2B-sg {
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    text-align: start;
  }

  .flexboxgrid_center-md_3VDfS {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    text-align: center;
  }

  .flexboxgrid_end-md_2fJWy {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    text-align: end;
  }

  .flexboxgrid_top-md_12FDg {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
  }

  .flexboxgrid_middle-md_3wIJR {
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
  }

  .flexboxgrid_bottom-md_2v1cd {
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
            align-items: flex-end;
  }

  .flexboxgrid_around-md_1x54_ {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
            justify-content: space-around;
  }

  .flexboxgrid_between-md_Xn-9x {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }

  .flexboxgrid_first-md_3j4t5 {
    -ms-flex-order: -1;
    -webkit-order: -1;
            order: -1;
  }

  .flexboxgrid_last-md_3y72e {
    -ms-flex-order: 1;
    -webkit-order: 1;
            order: 1;
  }
}

@media only screen and (min-width: 75em) {
  .flexboxgrid_container_R2zU9 {
    width: 76rem;
  }

  .flexboxgrid_col-lg_3SaXd,
  .flexboxgrid_col-lg-1_2VMiv,
  .flexboxgrid_col-lg-2_21dKK,
  .flexboxgrid_col-lg-3_vbACp,
  .flexboxgrid_col-lg-4_2hzy8,
  .flexboxgrid_col-lg-5_1-g7-,
  .flexboxgrid_col-lg-6_21lf8,
  .flexboxgrid_col-lg-7_3kBG1,
  .flexboxgrid_col-lg-8_afECx,
  .flexboxgrid_col-lg-9_10mdl,
  .flexboxgrid_col-lg-10_1yTfj,
  .flexboxgrid_col-lg-11_3hMRu,
  .flexboxgrid_col-lg-12_1rlAA,
  .flexboxgrid_col-lg-offset-0_3KM3x,
  .flexboxgrid_col-lg-offset-1_KhvqR,
  .flexboxgrid_col-lg-offset-2_1ZD_z,
  .flexboxgrid_col-lg-offset-3_2GQVa,
  .flexboxgrid_col-lg-offset-4_1zPZj,
  .flexboxgrid_col-lg-offset-5_Kj8Iq,
  .flexboxgrid_col-lg-offset-6_3nun3,
  .flexboxgrid_col-lg-offset-7_YTmn9,
  .flexboxgrid_col-lg-offset-8_1qG2t,
  .flexboxgrid_col-lg-offset-9_qd27B,
  .flexboxgrid_col-lg-offset-10_2YScP,
  .flexboxgrid_col-lg-offset-11_3pPvj,
  .flexboxgrid_col-lg-offset-12_2rHEg {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .flexboxgrid_col-lg_3SaXd {
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    max-width: 100%;
  }

  .flexboxgrid_col-lg-1_2VMiv {
    -ms-flex-preferred-size: 8.33333333%;
    -webkit-flex-basis: 8.33333333%;
            flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .flexboxgrid_col-lg-2_21dKK {
    -ms-flex-preferred-size: 16.66666667%;
    -webkit-flex-basis: 16.66666667%;
            flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .flexboxgrid_col-lg-3_vbACp {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }

  .flexboxgrid_col-lg-4_2hzy8 {
    -ms-flex-preferred-size: 33.33333333%;
    -webkit-flex-basis: 33.33333333%;
            flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .flexboxgrid_col-lg-5_1-g7- {
    -ms-flex-preferred-size: 41.66666667%;
    -webkit-flex-basis: 41.66666667%;
            flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .flexboxgrid_col-lg-6_21lf8 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }

  .flexboxgrid_col-lg-7_3kBG1 {
    -ms-flex-preferred-size: 58.33333333%;
    -webkit-flex-basis: 58.33333333%;
            flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .flexboxgrid_col-lg-8_afECx {
    -ms-flex-preferred-size: 66.66666667%;
    -webkit-flex-basis: 66.66666667%;
            flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .flexboxgrid_col-lg-9_10mdl {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }

  .flexboxgrid_col-lg-10_1yTfj {
    -ms-flex-preferred-size: 83.33333333%;
    -webkit-flex-basis: 83.33333333%;
            flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .flexboxgrid_col-lg-11_3hMRu {
    -ms-flex-preferred-size: 91.66666667%;
    -webkit-flex-basis: 91.66666667%;
            flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .flexboxgrid_col-lg-12_1rlAA {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }

  .flexboxgrid_col-lg-offset-0_3KM3x {
    margin-left: 0;
  }

  .flexboxgrid_col-lg-offset-1_KhvqR {
    margin-left: 8.33333333%;
  }

  .flexboxgrid_col-lg-offset-2_1ZD_z {
    margin-left: 16.66666667%;
  }

  .flexboxgrid_col-lg-offset-3_2GQVa {
    margin-left: 25%;
  }

  .flexboxgrid_col-lg-offset-4_1zPZj {
    margin-left: 33.33333333%;
  }

  .flexboxgrid_col-lg-offset-5_Kj8Iq {
    margin-left: 41.66666667%;
  }

  .flexboxgrid_col-lg-offset-6_3nun3 {
    margin-left: 50%;
  }

  .flexboxgrid_col-lg-offset-7_YTmn9 {
    margin-left: 58.33333333%;
  }

  .flexboxgrid_col-lg-offset-8_1qG2t {
    margin-left: 66.66666667%;
  }

  .flexboxgrid_col-lg-offset-9_qd27B {
    margin-left: 75%;
  }

  .flexboxgrid_col-lg-offset-10_2YScP {
    margin-left: 83.33333333%;
  }

  .flexboxgrid_col-lg-offset-11_3pPvj {
    margin-left: 91.66666667%;
  }

  .flexboxgrid_start-lg_ageu9 {
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    text-align: start;
  }

  .flexboxgrid_center-lg_3H3SI {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    text-align: center;
  }

  .flexboxgrid_end-lg_27_fM {
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    text-align: end;
  }

  .flexboxgrid_top-lg_1tWWw {
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
  }

  .flexboxgrid_middle-lg_nocGI {
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
  }

  .flexboxgrid_bottom-lg_IYGks {
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
            align-items: flex-end;
  }

  .flexboxgrid_around-lg_zZC2C {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
            justify-content: space-around;
  }

  .flexboxgrid_between-lg_2njzk {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }

  .flexboxgrid_first-lg_6dksO {
    -ms-flex-order: -1;
    -webkit-order: -1;
            order: -1;
  }

  .flexboxgrid_last-lg_xGBvS {
    -ms-flex-order: 1;
    -webkit-order: 1;
            order: 1;
  }
}